body {
    background-color: black;
}

.navbar-brand {


    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-size: larger;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-variant: small-caps;
    padding: 10px;
    border-color: black;

}

.navbar {
    background-color: antiquewhite;

}

.display-6 {
    font-style: italic;
    font-size: 40px;
    text-align: center;
}

.container {
    height: 500px;
    color: rgb(0, 0, 0);
}



.cont {

    font-size: 55pxpx;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: bisque;
    text-align: center;



    padding: 5px;
    border-top-right-radius: 40px;
}

.cont:hover {
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(2, 0, 0);
}

.colon {
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#hr,
#min,
#sec {
    display: inline-block;
    transition: transform 0.3s;
}

.flip-animate {
    animation: flip 1.5s ease-in-out;
}

@keyframes flip {
    0% {
        transform: rotateX(0);
    }

    100% {
        transform: rotateX(-180deg);
    }
}

.digital,
.date {
    animation: fadeIn 2s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(750px);
    }

    to {
        opacity: 1;
        transform: translateY(2s);
    }
}